@font-face {
    font-family: 'Roboto Slab';
    src: url('../Fonts/Roboto_Slab/RobotoSlab-Regular.woff2') format('woff2'),
        url('../Fonts/Roboto_Slab/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
}

th {
    font-size: 18px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto";
}

table textarea {
    resize: vertical;
}

table p {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

select {
    width: 100%;
}

button[type="submit"] {
    width: 100%;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    padding: 77px 0;
    margin: 0 auto;
    max-width: 989px;
}

.form1 {
    max-width: 314px;
}

.form1 input {
    margin-bottom: 9px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
    padding-left: 17px;
    width: 100%;
    height: 38px;
}

.block1 input {
    outline: none;
}

.name {
    padding-bottom: 28px;
    font-size: 20px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
}

.block1 {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 50px;
}

.form1_select {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
    padding: 0 17px;
    width: 333px;
    height: 41px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 9px;
}

.form1_textarea {
    resize: vertical;
    padding: 16px 0 0 17px;
    border: 1px solid #cccccc;
    width: 100%;
    min-height: 131px;
    max-height: 240px;
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
    margin-bottom: 9px;
}

#form1_send {
    border: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    width: 333px;
    min-height: 43px;
    border-radius: 3px;
    background-color: #12d661;
    transition: all .3s ease;
}

#form1_send:hover {
    box-shadow: 0px 2px 2.5px rgba(8, 118, 52, 0.35);
}

.form1 input,
.form1 textarea {
    transition: all .3s ease;
    outline: none;
}

.form1 input:focus,
.form1 textarea:focus {
    box-shadow: 0 0 2.5px rgba(62, 106, 255, 0.55);
    background-color: #ffffff;
    border: 1px solid #3e6aff;
}

.open {
    position: relative;
    z-index: 9;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    right: 0;
    min-width: 280px;
    min-height: 252px;
    padding: 27px 25px;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 5px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.15);
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
}

.up_text {
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
    padding-bottom: 9px;
}

.popup a {
    text-decoration: none;
    font-size: 13px;
    color: #3e6aff;
    font-weight: 400;
    font-family: "Roboto";
}

.popup a:hover {
    text-decoration: underline;
}

.label_checkbox {
    font-size: 13px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.popup input:not([type="checkbox"]) {
    padding: 0 14px;
    width: 100%;
    box-sizing: border-box;
    height: 37px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 13px;
}

.popup button {
    width: 100%;
    height: 44px;
    border-radius: 3px;
    border: none;
    background-color: #12d661;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    transition: all .2s ease;
}

.form6 input:focus {
    border: 1px solid #3e6aff;
    box-shadow: 0 0 2.5px rgba(62, 106, 255, 0.55);
}

.form6 button:hover {
    box-shadow: 0px 2px 2.5px rgba(8, 118, 52, 0.35);
}

.send {
    display: block;
    margin-bottom: 12px;
}

.form6 {
    position: relative;
}

.label_checkbox {
    display: block;
    margin-bottom: 14px;
}

hr {
    border: none;
    background-color: #dcdcde;
    height: 1px;
    width: 100%;
}

.block2 {
    padding-bottom: 50px;
}

.block2 input {
    appearance: none;
}

.span,
.span1,
.span2 {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
    z-index: 1;
    margin-bottom: 14px;
}

.span2 {
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.span label,
.span1 label,
.span2 label,
.span1_block3 label,
.span2_block3 label {
    display: inline-block;
    padding-left: 50px;
}

.span input,
.span1 input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    appearance: none;
    width: 8px;
    height: 8px;
    background-color: #3e6aff;
    border-radius: 50%;
    z-index: 2;
    opacity: 0;
}

#radio1:checked,
#radio2:checked {
    opacity: 1;
}

.radiolabel {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.checkboxlabel {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.radio_label3 {
    color: #b3b3b3;
}

.checkboxlabel3 {
    color: #b3b3b3;
}

.testt {
    display: flex;
    column-gap: 10px;
}

.inputs {
    display: flex;
    column-gap: 61px;
}

.checkboxes {
    max-width: 270px;
}

.checkbox_span1,
.checkbox_span2,
.checkbox_span3,
.checkbox_span4 {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    z-index: 1;
    margin-bottom: 14px;
}

.checkbox_span3 {
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.checkbox_span1 input,
.checkbox_span2 input,
.checkbox_span3 input,
.checkbox_span4 input {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    appearance: none;
    width: 9px;
    height: 7px;
    background: url(../img/galochka.png);
    z-index: 2;
    opacity: 0;
}

#checkbox1:checked,
#checkbox2:checked,
#checkbox3:checked,
#checkbox4:checked,
#checkbox5:checked,
#checkbox6:checked {
    opacity: 1;
}

.custom_checkbox {
    display: flex;
    column-gap: 10px;
}

.date {
    display: flex;
    min-width: 473px;
    max-height: 114px;
    padding: 25px 21px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.text p {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
}

.up p {
    padding-right: 33px;
}

.down {
    display: flex;
    align-items: center;
    column-gap: 45px;
}

.down input {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
    padding: 11px 13px;
    max-width: 148px;
    max-height: 41px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.name1 {
    padding-top: 50px;
}

.span1_block3,
.span2_block3 {
    position: relative;
    display: inline-block;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    z-index: 1;
    margin-bottom: 14px;
}

.span1_block3 input,
.span2_block3 input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    appearance: none;
    width: 71px;
    height: 71px;
    filter: grayscale(100%);
    border-radius: 50%;
    z-index: 2;
    transition: all .2s ease;
}

.span1_block3 input {
    background: url(../img/Boy.png) center/cover;
}

.span2_block3 input {
    background: url(../img/Girl.png) center/cover;
}

#block3_radio1:checked,
#block3_radio2:checked {
    filter: none;
}

.radiolabel1 {
    font-size: 16px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto";
}

.radios_div {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.form3 {
    align-items: center;
    max-width: 664px;
    padding-bottom: 50px;
}

.block3_checkboxes span {
    transition: all .3s ease;
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    position: relative;
    width: 45px;
    height: 25px;
    border-radius: 12px;
    background-color: #cfcfd1;
}

.block3_checkboxes input {
    transition: all .3s ease;
    appearance: none;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #fff;
}

.block3_checkboxes label {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
    display: block;
    padding-left: 65px;
    min-width: 165px;
}

.block3_checkboxes input:checked {
    left: 22px;
}

.tdInput {
    width: 341px;
}

.tableInput:not([type="radio"], [type="file"]) {
    width: 100%;
    height: 41px;
    margin-bottom: 14px;
    padding-left: 17px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.tableSelect {
    overflow: hidden;
    height: 41px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.arrow {
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    display: inline-block;
    position: relative;
    width: 341px;
    padding: 21px 0;
}

.arrow::before {
    content: "";
    position: absolute;
    right: 14px;
    top: 57%;
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-top-color: #000;
}

#tableSelect {
    padding-left: 16px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    transform: translateY(-50%);
}

#tablespan1,
#tablespan2 {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 50%;
    transition: all .4s ease;
}

#labelman,
#labelgirl {
    display: inline-block;
    padding-left: 25px;
}

#man,
#girl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    appearance: none;
    z-index: 5;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .4s ease;
}

#man:checked,
#girl:checked {
    background-color: #3e6aff;
}

.span1 {
    display: block;
}

.radiotd {
    display: flex;
    column-gap: 80px;
}